@model IEnumerable<FashionShop_DACS.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Notes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @item.TotalPrice.ToString("#,##0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
            </tr>
        }
    </tbody>
</table>